@themecolor: #E60026;

// mar_top_20
.mar_top_20{
  margin-top: 20px;
}

// 设置统一的图片圆角
.el-image{
  border-radius: 4px;
}
// 滚动条宽度
::-webkit-scrollbar { 
  width:0px;   /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
  background: @themecolor;
}

//浅灰色
.gray {
  color: #C0C4CC;
}

// 分页
.el-pagination {
  text-align: center;
  margin: 30px 0px 60px 0px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: @themecolor;
  color: #FFF;
}


.el-pagination .el-pager li:not(.disabled):hover {
  color: @themecolor  !important;
}